* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
input[type="submit"],
.button {
  border: none;
  background: rgb(231, 193, 68);
  cursor: pointer;
}
header {
  background: rgb(255, 255, 255);
  padding: 2rem 0;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(245, 245, 245);
  padding-bottom: 1rem;
}

ul li a {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(228, 196, 15);
  display: inline-block;
  padding: 0.5rem 1rem;
}

ul li a:hover {
  color: rgb(211, 166, 32);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
section {
  padding: 1rem 0;
}
section.is-medium {
  padding: 3rem 0;
}
.is-text-center {
  text-align: center;
}
.home-content {
  background: #333;
  color: white;
}
.home-content h2 {
  font-size: 1.2em;
}
.latest-info {
  font-size: 16px;
  color: rgb(186, 186, 248);
}
.latest-info a {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background: gold;
  text-decoration: none;
}
